/*csslint empty-rules: false, ids: false, qualified-headings: false, known-properties: false, box-model: false, important: false*/
/************************* TAG SELECTORS *************************/
body {
  background-color: #011F3F;
  text-align: center;
}

/************************ CLASS SELECTORS ************************/
.blue {
  background-color: blue;
}

.btn {
  border: 10px solid black;
  border-radius: 20%;
  display: inline-block;
  height: 200px;
  margin: 25px;
  width: 200px;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.green {
  background-color: green;
}

.pressed {
  background-color: grey         !important;
  box-shadow: 0 0 20px white     !important;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

/************************* ID SELECTORS *************************/
#level-title {
  color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
}
